button {
  font-size: 1.2rem;
  width: 80px;
  border: 1px solid #98d9db;
  border-radius: 4px;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

.display {
  width: 42%;
  height: 50px;
  align-self: center;
  background: lightgray;
  padding: 10px auto;
  border-radius: 6px;
  font-size: 35px;
}

.expression {
  height: 30px;
  color: rgb(170, 170, 170);
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 240px;
}

.numbers button:last-child {
  width: 100%;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators button {
  color: rgb(252, 251, 251);
  background: #5f808f;
  border-left: none;
  border-bottom: 0;
}